@import './dark.less';
@import './light.less';

.caption {
  font-size: 12px;
}

.card-page {
  height: 442px;
  overflow: auto
}

.header-balance {
  background-color: #5d6ccf;
  padding: 16px;
  padding-bottom: 42px;
  .title-color {
    color: #e9e9eb !important;
  }
  .text-secondary {
    color: #bec4ec !important;
  }
  .text-color {
    color: #e9e9eb !important;
  }
}
